.section78 {
    text-align: center;

}

.download-btn {
    background-color: #1E1F21;
    color: #fff;
    margin: 1em 0;
    width: 200px;
    border-radius: 20px;
    border-style: none;
    padding: 15px 10px;
    font-size: 1em;
    font-family: 'Nunito';
}

footer {
    margin: 10px auto;
    font-size: 12px;
}

.message {
    background-color: #f5f5f0;
    display: block;
}

a:link {
    text-decoration: none;
}

.icons {
    margin: 2px;
}