@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
    font-weight: bold;
}

h2 {
    font-family: 'JosefinSans', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
}

body, p {
    margin: 0;
}

header, footer, section {
    width: 100%;
}

.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow: auto; /*nagyon ajánlott beállítani*/
}
.one-third {
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
   height: auto;
   
}

.two-third {
    position: relative;
    box-sizing: border-box;
    width: 66.66%;
    float: left;
    height: auto;
}

.half {
    position: relative;
    width: 50%;
    float: left;
}

.ipad {
    width: 99.99%;
}

section {
    padding: 10vh 0;
}

.uppercase {
    text-transform: uppercase;
}

.text-color {
    color: #5e655e;
}

.text-left {
    padding-right: 10vw;
}

.text-right {
    padding-left: 10vw;
}

.gaborsection2 {
    background-color: #f5f5f0;
}

@media only screen and (max-width: 600px) {
    .one-third, .two-third { 
        display: block;
        width: 100%;
    }
}

.section7-8 {
    text-align: center;
}

.download-btn {
    background-color: #1E1F21;
    color: #fff;
    margin: 1em 0;
    width: 200px;
    border-radius: 20px;
    border-style: none;
    padding: 15px 10px;
    font-size: 1em;
}

footer {
    margin: 10px auto;
    font-size: 12px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.message {
    background-color: #1E1F21;
    display: block;
    color: #fff;
}

a:link {
    text-decoration: none;
    display: inline-block;
}

.nav-icon {
    text-align: right;
}

.icons {
    margin: 2px;
    width: 20px;
    object-fit: scale-down;
    height: 15px;
    filter: grayscale(100%) brightness(0.4);
}
.icons:hover {
    filter: none;
}
.submit-form {
    max-width: 500px;
    margin: 25px auto;
}
.rounded-from-left, .rounded-from-right {
    display: block;
    margin: 0;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    height: 50px;
}

.rounded-from-left {
    float: left;
    border-radius: 20px 0 0 20px;
    width: calc(100% - 100px);
    font-family: inherit
}

.rounded-from-right {
    float: right;
    border-radius: 0 20px 20px 0;
    width: 100px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
}

.clearfix {
clear: both;
}

/*Gábor része*/
.gaborsection1 {
    background: linear-gradient(rgba(255, 124, 0, 0.4), rgba(255, 124, 0, 0.4)),
    rgba(255, 124, 0,0.4) url('../images/gg-background.jpg');
    background-position: center center;
    background-size: cover;
    object-fit: fill;
    position: relative;
    /*z-index: -1;*/
    width: auto;
    height: auto;
}

.gabordiv1 {
    text-align: center;
    width: 30%;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
    vertical-align: middle;
   }

.gaborp1 {letter-spacing: 1px;
    font-size: 8px;}

.gaborsection2 {
    background-color: #f5f5f0;
    width: auto;
    height: auto;
}

.gabordiv2 {
    text-align: center;
    width: 40%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    letter-spacing: 1px;
    font-size: 14px;
    vertical-align: middle;
   }
   
   .gaborsection3 {
    background-color: #FFFFFF;
    width: auto;
    height: auto;
}

   .gabordiv3 {
    text-align: left; 
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: 120px;
    letter-spacing: 1px;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    height: auto;
    vertical-align: middle;
   }

.gabordiv4 {
    letter-spacing: 1px;
    position: relative;
    box-sizing: border-box;
    width: auto;
    float: right;
    height: auto;
    vertical-align: middle;
   }

.gaborimage1 {
    width: auto;
    height: 500px;
}