@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Regular.ttf');
}

body,p {
    margin: 0;
}

.noel-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.noelh1 {
    font-family: "JosefinSans";
}

.noelp {
    font-family: "Nunito";
}

noela {
    text-decoration: none;
    border-bottom: 1px #00f dotted;
    font-family: "Nunito";
}

.noel-col-container {
    display: table;
    width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(+50%);
  
}

.noel-col {
    display: table-cell; 
}

.kingsize {
    font-size: 3em;
}

.noelsection {
    
    background: linear-gradient(rgba(30, 31, 33, 0.85), rgba(30, 31, 33, 0.85)),
    rgba(30, 31, 33, 0.85) url('../img/standby.jpg');
   background-position: center center;
   background-size: cover;
   object-fit: fill;
   position: relative;
   width: auto;
   height: auto;
}

body {
    
    background-size: cover;
    height: 100%;
    overflow: auto;
}


.noelbackground {
    visibility: hidden;
    max-width: 100%;
}

.noelcontainer {
    position: relative;
}