/*404*/
.noelcontainer {
    position: relative;
    height: 5vw;
    width:35%;
    padding: 15% 0 0 10%;
}

.noel-centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.noela {
    text-decoration: none;
    border-bottom: 1px #00f dotted;
    font-family: "Nunito";
}


.noelpp {
    font-family: "Nunito";
    margin: 0.5 em 0;
    
}
.noela:visitet {
    color: #00f dotted;
}

/*Comingsoon*/
@font-face {
    font-family: 'JosefinSans';
    src: url('/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/Nunito-Regular.ttf');
}

body,p, h1 {
    margin: 0;
}

.noelsection {
    background: linear-gradient(rgba(30, 31, 33, 0.85), rgba(30, 31, 33, 0.85)),
    rgba(30, 31, 33, 0.85) url('/img/standby.jpg');
   background-position: center center;
   background-size: cover;
   object-fit: fill;
   position: relative;
   width: 100%;
   height: 100vh;
}

.noelh1 {
    font-family: "JosefinSans";
    margin: 0.33em 0;
}

.noelp {
    font-family: "Nunito";
    margin: 1em 0;
    
}

.kingsize {
    font-size: 5em;
}

.text-white {
    color: #fff;
}

.titanic {
    float: none;
}