body, p {
    margin: 0;
}

header, footer, section {
    width: 100%;
    }

.container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    overflow: auto; /*nagyon ajánlott beállítani*/
}

.icons {
    height: 15px;
    filter: grayscale(100%);
}

.icons:hover {
    filter: none;
}

.half {
    position: relative;
    width: 50%;
    float: left;
}

.one-fifth {
    position: relative;
    width: 20%;
    float: left;
}